*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: montserrat;
    src: url('D:\\fonts\\Montserrat-ExtraBold.otf');
}

#icon1{
    color: yellow;
}

#icon2{
    color: yellow;
}
header {
    background-color: rgb(62, 3, 95);
    font-size: 14px;
}

header .fa-solid fa-phone{
    color: white;
}

header ul li{
    list-style:none;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
}

.logo {
    width: 350px;
}

/*header atas kanan*/
header ul .kanan{
    padding-left: 15.7cm;
}

header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0,0.9),rgba(34, 0, 53, 0.5)),url(images/abstract-blur-defocused-bookshelf-library.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-sejarah{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(34, 0, 53);
    background-position: center;
    background-size: cover;
    position: relative;
}

body {
    font-family: montserrat;
}

nav{
    font-family: montserrat;
    display: flex;
    padding: 1px 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}

.navigation ul {
    position: relative;
}
.navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    border-radius: 10px;
    background-color: rgb(80, 0, 104);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

/* tata letak navigasi*/
.navigation ul li{
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigation ul li a{
    color: white;
    text-decoration: none;
/* tata letak navigasi*/

    
/*garis dibawah navigasi*/
}
.navigation ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation ul li:hover::after{
    width: 100%;
}     /*garis dibawah navigasi*/

/*untuk popup submenu*/
.navigation li:hover > ul {
    display: block;
}
/*untuk popup submenu*/



.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

/* buat sejarah */

.text-box-sejarah {
    position: absolute;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    
}
.text-box-sejarah h1{
    text-align: center;
    font-size: 50px;
}

.text-box-sejarah .isi{
    padding: 10px;
    margin: 10px 0 40px;
    font-size: 14px;
}
/* buat berubah warna*/
.button-for-visit{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
}
.button-for-visit:hover{
    border: 1px solid purple;
    background: purple;
}
/* buat berubah warna*/
nav .fa{
    display: none;
}

footer{
    background-color: rgb(62, 3, 95);
    padding: 10px;
}

footer p{
    color: white;
}

@media(max-width: 850px){

    .logo {
        width: 250px;
        padding-top: 5px;
    }
    .text-box h1{
        font-size: 30px;
    }

    .text-box .quotes{
        font-size: 10px;

    }

    .text-box p{
        margin: 10px 0 40px;
        font-size: 11px;
        color: white;
    }
    .navigation ul li{
        display: block;
    }
    .navigation{
        position: absolute;
        background-color: rgba(84, 2, 111, 0.386); /* Warna latar belakang dengan transparansi */
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        height: 100vh;
        width: 250px;
        top:0;
        right:-250px;
        text-align: left;
        z-index: 2;
        transition: 1s ease;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .navigation ul{
        padding: 0;
    }
    
    .navigation ul ul{
        background-color: rgb(68, 0, 89);
        border-width: 2px;
        border-radius: 5px;
    }

    .navigation ul ul {
        display: none;
        top: 100%;
        left: 10px;
        font-size: 11.4px;
        z-index: 1;
    }
    .navigation ul li{
        list-style:none;
        display: block;
        position:relative;
    }
    /* buat berubah warna*/
    .button-for-visit{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 12px 34px;
        font-size: 10px;
        background: transparent;
        position: relative;
        cursor: pointer;
        transition: 0.5s ease;
    }
    .button-for-visit:hover{
        border: 1px solid purple;
        background: purple;
        
    }
    /* buat sejarah */
    
    .text-box-sejarah {
        position: relative;
        width: 80%;
        color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: rgba(255, 255, 255, 0.103);
        background-color: cover;
        border-radius: 10px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: left;
        
    }
    .text-box-sejarah h1{
        text-align: center;
        font-size: 50px;
    }

    .text-box-sejarah .isi{
        padding: 10px;
        margin: 10px 0 40px;
        font-size: 14px;
    }
    /* buat berubah warna*/
}




@media(max-width:1530px){
    header {
        display: none;
    }
    footer{
        display: none;
    }
}

